body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    text-align: center;
    color: #ffffff;
}

.canvas {
    background-color: #eee;
    display: block;
    margin: 0 auto;
    border: 1px solid #999;
}

.results {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.results h2 {
    margin-top: 0;
    color: #333;
}

.counterTitle {
    color: rgb(250, 250, 255);
}

.game-value {
    color: rgb(255, 255, 255);
}
/*
.controlSwitch {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

.controlLabel {
    margin-right: 10px;
    color: white;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}


input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #008cff;
}

input:checked+.slider:before {
    transform: translateX(26px);
}


.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
*/
.results p {
    margin-bottom: 10px;
}

.results p span {
    font-weight: bold;
}